.text {
	margin: 20px;
	cursor: pointer;
	font-size: larger;
	background-color: green;
	padding: 5px;
}

nav {
	background-color: gray;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 4rem;
}

.greet {
	color: #999;
	padding-bottom: 1rem;
	font-family: 'Rancho';
	margin-left: 1rem;
	font-size: 1.7rem;
}

.greet span {
	color: #eee;
	text-transform: uppercase;
}