.payout {
	width: 40%;
	margin: 20px auto;
	border: 1px solid #eee;
	box-shadow: 0 2px 3px #ccc;
	text-align: center;
	font-family: "Roboto Mono";
	font-weight: 100;
}

.payout label {
	display: block;
	margin: 10px auto;
	text-align: center;
}

.payout input,
.payout textarea,
.payout select {
	display: block;
	width: 80%;
	box-sizing: border-box;
	border: 1px solid black;
	outline: none;
	font: inherit;
	letter-spacing: 3px;
	font-size: 1rem;
	font-weight: 400;
	margin: 1rem auto;
}

.payout button {
	font-family: 'Rancho';
	letter-spacing: 2px;
	font-size: 1.5rem;
	margin: 10px 0;
	padding: 7px;
	font: bolder;
	border: 1px solid white;
	background-color: transparent;
	cursor: pointer;
}

.payout button:hover,
.payout button:active {
	color: white;
	background-color: #fa923f;
}

.heading {
	margin: 1rem 0;
	margin-top: 6rem;
	font-weight: 400;
	text-align: center;
	font-size: 4rem;
	text-transform: uppercase;
	font-family: 'Rancho';
	color: #ccc;
}

.display {

		margin: 5rem 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: .7rem;
	}


.info {
	background-color: #0d181f63;
	color: #999;
	padding-bottom: 1rem;
	text-transform: uppercase;
	font-family: 'Rancho';
}

.group, p {
	margin: 0 .5rem;
	margin-left: .5rem;

}

.category {
	margin-left: .5rem;
	text-transform: uppercase;
	line-height: 1.3;
	margin-bottom: .5rem;
	align-self: stretch;
}

.amount {
	font-weight: 400;
	line-height: 1.2;
	margin-left: .2rem;
	font-size: 1.3rem;
}

.amount span {
	letter-spacing: .2rem;
	font-weight: bolder;
	font-size: 1.5rem;
}

.date {
	margin-top: 4rem;

}